* {
    box-sizing: border-box;
}

body {
    background: #b07cf7;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

.content {
    padding: 10px 105px;
}

a {
    text-decoration: none;
    color: inherit;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
}

.post {
    display: flex;
    position: relative;
}

.post-header {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 50%, #000);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
}

header {
    text-align: center;
    padding-top: 50px;
}

header h1 {
    font-size: 70px;
    font-weight: bold;
}

header > p {
    font-size: 17px;
    text-align: center;
    color: white;
    padding: 20px 470px;
}

.post-date {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    top: 30px;
    left: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    width: 329px;
}

.post-author p {
    font-size: 14px;
    color: #78797c;
    padding-bottom: 30px;
}

footer {
    text-align: center;
}

.button {
    background: #f72b3b;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 50px 0;
    width: 200px;
    height: 60px;
    box-shadow: 1px 1px 3px black;
}  







